config/vim/undo/*
!config/vim/undo/.gitkeep
config/vim/backup/*
!config/vim/backup/.gitkeep
config/vim/swap/*
!config/vim/swap/.gitkeep
config/vim/.netrwhist

config/*
!config/vim
!config/kitty
!config/git
!config/gdb
!config/screenrc

ssh/*
!ssh/config
